.App {
  text-align: center;
}

.overflow-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.chatbox {
  background-color: black;
  width: 500px;
  height: 500px;
  margin: auto;
  color: white;
  padding: 10px;
  overflow: auto;
  text-align: left;
  margin-bottom: 10px;
}

.chatList {
  list-style: none;
}

.chat {
}

input {
  width: 470px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
